.logo {
  color: $headers-color;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  line-height: 1.16;
  letter-spacing: 0.03em;

  @media screen and (max-width: 767px) {
    padding: 16px 0;
  }

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}

.footer__logo {
  @extend .logo;
  margin: 0;
  display: block;
  margin-bottom: 20px;
  color: $bg-color;
}

.logo--web {
  color: $accent-color;
}
